* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  height: 10vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hamburger {
  z-index: 2;
  cursor: pointer;
  display: none;
}

.line {
  width: 30px;
  height: 3px;
  margin: 5px;
  background: #5f5f79;
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav-links li:nth-child(1) {
  display: none;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.logo {
  font-weight: 400;
  margin: 5px;
}

nav {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.nav-link {
  color: #5f5f79;
  text-decoration: none;
  font-size: 18px;
}

.presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 80vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.introduction {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.intro-text h1 {
  font-size: 44px;
  font-weight: 500;
  background: -webkit-gradient(linear, left top, right top, from(#494964), to(#6f6f89));
  background: linear-gradient(to right, #494964, #6f6f89);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro-text p {
  margin-top: 5px;
  font-size: 22px;
  color: #585772;
}

.cover {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.cover img {
  height: 60vh;
  -webkit-filter: drop-shadow(0px 5px 3px black);
          filter: drop-shadow(0px 5px 3px black);
  -webkit-animation: drop 1.5s ease;
          animation: drop 1.5s ease;
}

.cta {
  padding: 50px 0px 0px 0px;
}

.cta-select {
  border: 2px solid #c36cbb;
  background: transparent;
  color: #c36cbb;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
}

.cta-add {
  background: #c36cbb;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  color: #fff;
  margin: 30px 0px 0px 30px;
}

.big-circle {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
  opacity: 0.5;
  height: 80%;
}

.mid-circle {
  position: absolute;
  top: 30%;
  right: 30%;
  z-index: -1;
  height: 60%;
  opacity: 0.4;
}

.small-circle {
  position: absolute;
  bottom: 0%;
  left: 10%;
  z-index: -1;
}

.laptop-select {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  right: 20%;
}

@-webkit-keyframes drop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes drop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@media screen and (max-width: 1024px) {
  .presentation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .introduction {
    margin-top: 5vh;
    text-align: center;
  }
  .intro-text h1 {
    font-size: 30px;
  }
  .intro-text p {
    font-size: 18px;
  }
  .cta {
    padding: 10px 0px 0px 0px;
  }
  .laptop-select {
    right: 50%;
    width: 50%;
    -webkit-transform: translate(50%, 5%);
            transform: translate(50%, 5%);
  }
  .cover img {
    height: 400px;
  }
  .big-circle {
    opacity: 0.1;
  }
  .mid-circle {
    opacity: 0.1;
  }
  .small-circle {
    opacity: 0.1;
  }
}

/*  */
@media screen and (max-width: 450px) {
  .cta {
    padding: 10px 0px 0px 0px;
  }
  .cta-add {
    margin: 30px 0px 0px 0px;
  }
  .cover img {
    height: 270px;
  }
  .big-circle {
    display: none;
  }
  .mid-circle {
    display: none;
  }
  .small-circle {
    display: none;
  }
  .nav-links {
    z-index: 2;
    position: absolute;
    right: 0;
    background: black;
    opacity: 0.9;
    height: 70vh;
    width: 60vw;
    margin: -45px -68px 0% 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
    clip-path: circle(100px at 90% -50%);
    -webkit-clip-path: circle(100px at 90% -50%);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li:nth-child(1) {
    display: unset;
    -webkit-transition: all 0.5s ease 0.2s;
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li a {
    font-size: 25px;
  }
  .nav-links li:nth-child(2) {
    -webkit-transition: all 0.5s ease 0.4s;
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    -webkit-transition: all 0.5s ease 0.6s;
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    -webkit-transition: all 0.5s ease 0.8s;
    transition: all 0.5s ease 0.8s;
  }
  nav {
    position: relative;
  }
  .cart {
    display: none;
  }
  .hamburger {
    display: unset;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  li.fade {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */